@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
    html {
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #EA2831;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #D41C25;
    }
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .mesh-gradient {
        background-color: #ffffff;
        background-image:
            radial-gradient(at 0% 0%, hsla(357, 82%, 53%, 0.1) 0, transparent 50%),
            radial-gradient(at 100% 0%, hsla(145, 63%, 49%, 0.05) 0, transparent 50%),
            radial-gradient(at 100% 100%, hsla(232, 79%, 64%, 0.1) 0, transparent 50%),
            radial-gradient(at 0% 100%, hsla(357, 82%, 53%, 0.05) 0, transparent 50%);
        background-size: 200% 200%;
        animation: mesh-move 15s ease infinite !important;
    }

    .dark .mesh-gradient {
        background-color: #101922;
        background-image:
            radial-gradient(at 0% 0%, hsla(357, 82%, 53%, 0.15) 0, transparent 50%),
            radial-gradient(at 100% 100%, hsla(232, 79%, 64%, 0.15) 0, transparent 50%);
    }

    @keyframes mesh-move {

        0%,
        100% {
            background-position: 0% 0%;
        }

        50% {
            background-position: 100% 100%;
        }
    }

    .dots-pattern {
        background-color: transparent;
        background-image: radial-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px);
        background-size: 20px 20px;
    }

    .dark .dots-pattern {
        background-image: radial-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    }
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}